@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Title</h3>


<address>
    Russia, Volgograd<br />
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:andkutum@gmail.com">andkutum@gmail.com</a><br />
</address>