@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>qMine</h2>
    <p class="lead">Minecraft Server Control</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-8">
        <h4>rcon console</h4>
       @*<div id="answer" style="border:1px solid black; position:relative"> </div>*@
        <div id="console">
            <ul id="ulconsole" style="height: 300px; overflow: auto;">
                <li>Welcome to Console</li>
            </ul>
        </div>
        <div>
            <input type="text" id="commandRcon" class="col-md-10" />
            <input type="submit" id="sendRcon" value="Send" />
        </div>

    </div>
</div>

