@{
    ViewBag.Title = "qMine Console";
}

<div class="row content container-fluid" style="padding-top:10px">
    <div class="col-lg-8 console">

        <div class="card mb-3">
            <div class="card-header">
                <h6 class="card-title">qMine rcon console</h6>
            </div>
            <div id="console" class="card-body">
                <ul id="ulconsole" class="list-group" style="height: 300px; overflow: auto;"></ul>
            </div>
        </div>


        <div class="input-group mb-3">

            <div class="input-group-prepend">
                <span class="input-group-text">type:</span>
            </div>

            <input type="text" id="commandRcon" class="form-control" />
            <div class="input-group-btn">
                <button type="button" class="btn btn-outline-dark" tabindex="-1" id="sendRcon"><span class="fas fa-arrow-right"></span> Send</button>
            </div>
        </div>

        <div class="checkbox card mb-3" style="display:inline-block; width:100%">

            <label style="padding-top: 1%;padding-left:10px">
                <input type="checkbox" id="chkAutoScroll" checked="checked"> Auto scroll
            </label>
            <button type="button" class="btn btn-outline-dark" tabindex="0" id="btnClearLog" style="float:right;"><span class="far fa-trash-alt"></span> Clear</button>
        </div>

    </div>
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h6 class="card-title">Status</h6>
            </div>
            <div class="card-body">

            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/rconJS")


<script type="text/javascript">
        $(function () {
            $("#sendRcon").click(function () {

                var command = $("#commandRcon").val();
                if (command.length == 0) return;

                if (command != "") { $("#Send").prop('disabled', true); };

                $.ajax({
                    url: '@Url.Action("CallRcon", "Home")',
                    type: 'POST',
                    data: { commandRcon: command },
                    cache: false,

                    success: function (Data) {

                        var datetime = getCurrentTime();
                        datetime += " -> ";
                        datetime += command;

                        $("#ulconsole").append('<li class="list-group-item list-group-item-success">' + datetime + '</li>');
                        clearOldLogs();

                        if (Data.indexOf("Unknown command") != -1) {
                            logError(Data);
                            clearOldLogs();
                            return;
                        }
                        else if (Data.indexOf("Usage") != -1) {
                            logWarning(Data);
                            return;
                        }
                        else if (Data.indexOf("Exception") != -1) {
                            logError(Data);
                            return;
                        }
                        else if (Data.indexOf("Error") != -1) {
                            logError(Data);
                            return;
                        }
                        else
                            logSuccess(Data);
                    }
                }).fail(
                    function () {
                        logError(Data);
                        }
                    );
            });
        });


</script>