body {
    background: url(img/stone.jpg) repeat;
    background-color: lightgrey;
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.container-fluid {
    min-height: 100%;
}

#footer {
    position: absolute;
    bottom: 0;
    right: 0;
}

.content {
    height: 100%;
    position: relative;
}

.console, .status {
    /*margin-bottom: 5%;*/
}

.navbar-wood {
    background-image: url(img/darkwood.png);
    /*font-weight:600;*/
}

.card-header {
    background-image: url(img/greywool.png);
    height:60px;
    
}

.card-body {
    background-image: url(img/whitewool.png);
}

.list-group-item-white-wool {
    background-image: url(img/whitewool.png);
}

.btn {
    background-image: url(img/wood.png)
    /*for IIS NEED background-image: url(../../Content/img/wood.png)*/
}


