@model qMine.Models.MapView
@{
    ViewBag.Title = "qMine | MAP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="padding-top:10px; height:85vh">
    <div class="col" style="height:100%">
        <div class="card mb-3 border-0" style="height:100%">
            <div class="card-header text-light">
                <img src="~/Content/img/Explorer_Maps.gif" width="32px" />
                <h6 class="card-title d-inline" style="padding-left:10px; padding-right:10px">Map</h6>
                @if (Model.ServerUp)
                {
                    <span class=" text-success d-inline" style="max-width:100px">
                        Online
                    </span>
                }
                else
                {
                    <span class=" text-danger d-inline" style="max-width:100px;">
                        Offline
                    </span>
                }
            </div>
            <div class="card-body" id="Map" style="height:100%" >
                
                    <iframe src="@Model.MapUrl" style="height:100%; width:100%" frameborder="0"></iframe>

                @ViewBag.Error
            </div>
            
        </div>
    </div>
</div>


